#login_credentials, #login_credentials a:link, #login_credentials a:visited {	font-family: "lucida grande", arial, sans-serif;}


#tabs ul li {height: 34px; padding-bottom: 11px;}


#column_1 h1 {

	margin-bottom: 0px;
	
}

#rightcolumns h1 {

	margin-bottom: 10px;
	
}

#column_1 h2, #column_2 h2, #column_3 h2 {

	margin-top: 10px;
	
}

#column_1 {

	height: 549px !important;
	
}

#column_3 {

	height: 501px;
	padding: 0px;
	
	
}

body
{
	text-align: center;
}

#main
{
	text-align: left;
	height: 552px;
}

.main
{
	text-align: left;
	height: 552px;
}

.country_conditions_textarea {

	height:200px !important;


}

.player_choice
{

	height: 115px !important;
	width: 220px !important;

}

#elapsed_time_clock
{

	width: 240px !important;

}



.country_conditions_graph table tr.negative_row td.condition_row_block_filled {  background-image: url(../images/solid_red.gif); }
.country_conditions_graph table tr.positive_row  td.condition_row_block_filled {  background-image: url(../images/solid_green.gif); }

td.condition_row_block_empty {  background-image: url(../images/solid_gray.gif); }


td.condition_row_description
{
	font-size: 9px;

}

div#loginbox {

 margin-left: 350px;

}

a:link div.player_choice
{
	background-image: url(../images/choices/default_option_button.png);
	display: block;
	height: 95px;
	margin: 0px 0 10px 0;
	padding: 10px;
	width: 200px;
	color: #fff;
	cursor: pointer;
	font-size: 11px;
	text-decoration: none;
	
}

a:hover div.player_choice
{
	background-image: url(../images/choices/default_option_button_over.png) !important;
	border: 0;
	color: yellow;
	
}


