.main
{
	background-color: #464646;
	color: #fff;
	width: 974px;
	height: 540px;
	margin: 0 auto;
	z-index: 10000;
}

#masthead
{
   background-color: #999;
   z-index: -10000;
   background-image: url(../images/masthead.jpg);
   width: 974px;
   margin: 0 auto;
   height: 100px;
   position: relative;


}

#masthead a
{
   
   font-size: 16px;
   color: #fff;
   text-align: left;
   text-decoration: none;
   padding: 0;
  
}

#masthead_desc
{
   
   font-size: 10px;
   color: #fff;
   text-align: left;

}

#login_credentials
{
   
   font-size: 12px;
   color: #fff;
   height: 50px;
   text-align: right;
   padding-right: 10px;
   vertical-align: top;
   float: left;

}

#login_credentials a
{
  
   font-size: 12px;
   color: #fff;
}



/** Column 1  **/





.player_description,  
.your_description,
.player_image
{

}

.your_description, .player_description
{
   background-color: #dadada;
   color: #000;
   font-size: 10px;
   padding: 5px;
}



.player_image
{
	float: right;
    margin: 5px;
}

.character_choice
{
   background-color: #727272;
   text-align: right;
   cursor: pointer;
   font-size: 10px;
   padding:5px;
}

.character_choice.toggle
{
	float: left;
}

/** Column 2 **/

#tabs
{
	float: right;
	margin-top: -30px;
	height: 30px;
	width: 500px;
	display: block;
}

#tabs ul
{
	margin: 0;
	padding: 0;
}

#tabs ul li {

	width: 120px;
	height: 30px;
	margin-left: 5px;
	display: block;
	float: left;
	text-align: center;
	border: none;


	

}

#tabs a:link, a:visited
{
	text-decoration: none;
	color: #000;
}

.viewableturn
{
   color: #302226;
   background-color: lightgray;
   border: thin solid #302226;
}

.futureturn
{
   color: gray;
   background-color: darkgray;
   border: thin solid gray;
}

.activetab
{
   color: #302226;
   background-color: white;
   border: thin solid #302226;
}

.country_conditions
{
	background-color: #fff;
	color: #000;
	vertical-align: middle;

}


.country_conditions_graph
{
	background-color: #727272;
	padding: 10px;


}

.country_conditions_graph table
{
   border-collapse: collapse; 
}



.condition_row_block_filled
{
	width: 40px;
	height: 100%;
	font-size: 6px;	
	padding: 0px;
	background-color: darkgray;
}

.condition_row_block_empty
{
   width: 40px;
   height: 100%;
   font-size: 6px;   
   padding: 0px;
   background-color: red;

}

.condition_row_dummy
{
   width: 40px;
   height: 3px;
   font-size: 3px;   
   padding: 0px;

}

.condition_row_indicator
{
   width: 40px;
   height: 100%;
   font-size: 11px;   
   padding: 0px;
   text-align: center;
   background-color: #fff;
}

.condition_row_description
{
	font-size: 8.5px;
	height: 21px;
	vertical-align: top;
	padding-top: 2px;
}

.country_conditions_textarea
{
   height: 175px;
   font-size: 11px;
   padding: 10px 10px 10px 10px;
   margin-bottom: 10px;
}

.condition_row_name
{
   max-width: 90px;
   min-width: 90px;
   font-size: 10px;
   text-align: right;
   padding-right: 5px;
   vertical-align: top;
   padding-top: 4px;

}

/** Column 3 **/

#elapsed_time_clock
{
   width: 100%;
}

#elapsed_time_clock th
{
   background-color: #666;
   font-size: 11px;
   color: #000;
   font-weight: bold;
   text-align: center; 
}

#elapsed_time_clock td
{
   background-color: #417690;
   font-size: 11px;
   color: #fff;
   text-align: center;
   width: 50%;
}

.player_choice
{
	border: white 1px solid;
   background-color: #fff;
   color: #000;
   padding: 5px;
   border-spacing: 5px;
   font-size: 12px;
   cursor: pointer;
   font-weight: normal;
   height: 150px;
}

.reasoning
{
	border: none;
	overflow: auto;
} 

/*BEGIN LIZ SKINNING*/

#column_1 {

	width: 280px;
	float: left;
	max-height: 540px;
	overflow: auto;
	margin-left: 10px;
	padding-right: 10px;

}

#column_1 h1, #column_2 h1, #column_3 h1{

	background-color: #363636;
	color: #fff;
	text-align: center;
	font-size: 13px;
	padding: 5px;
	margin-top: 0;

}

#column_1 h2, #column_2 h2, #column_3 h2
{
	background-color: #555;
    color: #fff;
	font-size: 12px;
	padding: 5px;
	margin-bottom: 0px;
}

#column_2 {

	width: 404px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;

}

#column_3 {

	width: 240px;
	float: left;	
	margin: 10px;
	
		max-height: 520px;
		overflow: hidden;

}