.main
{
	background-color: #000;
	color: #fff;
	width: 1024px;
	height: 668px;
	border: white 1px dashed;
}

.tabs
{
	width: 100%;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 10px;
}

.viewableturn
{
	color: #302226;
   background-color: lightgray;
   border: thin solid #302226;
   width: 400px;
   text-align: center;
   padding: 3px;
}

.futureturn
{
   color: gray;
   background-color: darkgray;
   border: thin solid gray;
   width: 400px;
   text-align: center;
   padding: 3px;
}

.activetab
{
   color: #302226;
   background-color: white;
   border: thin solid #302226;
   width: 400px;
   text-align: center;
   padding: 3px;
}

.section_header
{
   background-color: #CCCCCC;
   text-align: center;
   cursor: pointer;
   font-size: 10px;
   border: black 1px solid;
   color: black;  
}

.column1
{
    vertical-align: top;
    width: 27%;
}

.column2
{
    vertical-align: top;
    width: 45%;
}

.column3
{
    vertical-align: top;
    width: 27%;
}

/** Column 1  **/

.player_rolename
{
	background-color: #000;
   color: #fff;
	font-size: 12px;
}

.player_description,  
.your_description,
.player_image
{
   height: 130px;
}

.your_description
{
   background-color: #000;
   color: #fff;
   font-size: 10px;
   border: white 1px solid;
}

.player_description
{
	background-color: #000;
   color: #fff;
   font-size: 10px;
   border: white 1px solid;
}

.player_image
{
	text-align: center;
   vertical-align: middle;
   border: black 1px solid;
}

.character_choice
{
   background-color: #CCCCCC;
   text-align: center;
   cursor: pointer;
   font-size: 10px;
   width: 75px;
   height: 40px;
   border: black 1px solid;
   color: black;
}

/** Column 2 **/

.country_conditions,
.country_conditions_graph
{
	background-color: #fff;
	color: #000;
	vertical-align: middle;
	width: 100%;
}

.condition_row_name
{
	width: 75px;
   font-size: 12px;
   font-family: "lucida grande",Verdana,Helvetica,Arial,sans-serif;
   border-bottom: black 1px solid;
   text-align: center;
   border-right:  black 1px solid;
}

.condition_row_block_filled
{
	width: 40px;
	height: 100%;
	border: black 1px solid;
	font-size: 6px;	
	padding: 0px;
	border-spacing: 0px;
	background-color: darkgray;
}

.condition_row_block_empty
{
   width: 40px;
   height: 100%;
   border: black 1px solid;
   font-size: 6px;   
   padding: 0px;
   border-spacing: 0px;
}

.condition_row_dummy
{
   width: 40px;
   height: 100%;
   font-size: 16px;   
   padding: 0px;
   border-spacing: 0px;
}

.condition_row_indicator
{
   width: 40px;
   height: 100%;
   font-size: 14px;   
   padding: 0px;
   text-align: center;
   border: black 1px solid;
   border-spacing: 0px;
   background-color: darkgray;
}

.condition_row_description
{
	font-size: 10px;
}

.country_conditions_textarea
{
   height: 200px;
   font-size: 12px;
   font-family: "lucida grande",Verdana,Helvetica,Arial,sans-serif;
   padding: 10px 10px 10px 10px;
   border-spacing: 5px;
   border: black 1px solid;
}

/** Column 3 **/

.time
{
   color: #fff;
   padding: 5px;
   border-spacing: 5px;
   font-size: 12px;
}

.player_choice
{
	border: white 1px solid;
   background-color: #000;
   color: #fff;
   padding: 5px;
   border-spacing: 5px;
   font-size: 12px;
   cursor: pointer;
}

.reasoning
{
	width: 100%;
	height: 200px;
} 