{% extends "sim/base_sim.html" %}

{% block css %}
{{ block.super }}
<style type='text/css'>
  @import "/site_media/css/game.css";
</style>
{% endblock %}

<div id="nav">
   {% block nav %}
      <a class="nav" href="/sim"/>Home</a> |
      <a class="nav" href="/sim/logout/">Logout ({{ user.username }})</a> |
   {% endblock %}
</div>

{% block masthead %}
<div id="simlogo">
<a href="/sim/"><img src="/site_media/images/countryx_logo.png" alt="Country X" /></a>
</div>

 <!--  <a href="http://ccnmtl.columbia.edu">CCMNMTL LOGO</a>
           <div id="masthead_desc">Descriptive Tag Line Goes Here</div>-->
         
         
         <div id="login_credentials">
            {{user.username}} | <a href="/sim/logout/">Logout</a> |
            <a href="/about/">About</a> | <a href="/help/">Help</a> | <a href="/contact/">Contact</a>
            <br />
            <br />
            
         </div><!-- div  id="login_credentials" -->
{% endblock %}

{% block content %}
{% endblock %}
