{% extends "sim/base_sim.html" %}
{% load compress %}

{% block js %}
   {{ block.super }}
{% compress js %}
   <script type="text/javascript" src="{{STATIC_URL}}admin/js/core.js"></script>
   <script type="text/javascript" src="{{STATIC_URL}}js/faculty.js"></script>
{% endcompress %}
	 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
   <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% endblock %}

{% block css %}
{% compress css %}
	 <link rel="stylesheet" href="{{STATIC_URL}}css/faculty.css" />
{% endcompress %}
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
{% endblock %}

{% block masthead %}
   <table width="100%">
      <tr>
          <td id="masthead">Country X Administration</td>
          <td id="login_credentials">Welcome, {{user.username}}
          / <a style="color: white"
          href="/sim/logout/">Logout</a></td>
      </tr>
      <tr>
        <td colspan="2" id="faculty-nav">
					<a href="/sim/">Sections</a>{% if request.user.is_staff %} | 
					<a href="{% url 'roles-index' %}">Roles</a> | 
					<a href="{% url 'states-index' %}">States</a>{% endif %}</td>
      </tr>
   </table>
{% endblock %}

