{% extends "sim/base_faculty.html" %}
{% block js %}
{{ block.super }}
{% endblock %}
{% block css %}
   {{ block.super }}
{% endblock %}

{% block content %}

{% if missing %}
missing statechanges:
<ul>
{% for s in missing %}
<li><a href="/admin/sim/state/{{s.state.id}}/">Turn {{s.state.turn}} {{ s.state.name }}</a>
P={{s.president}}
E={{s.envoy}}
R={{s.regional}}
O={{s.opposition}}</li>
{% endfor %}
</ul>
{% else %}
no missing statechanges
{% endif %}


{% if duplicates %}
duplicate statechanges:
<ul>
{% for s in duplicates %}
<li><a href="/admin/sim/state/{{s.state.id}}/">Turn {{s.state.turn}} {{ s.state.name }}</a>
P={{s.president}}
E={{s.envoy}}
R={{s.regional}}
O={{s.opposition}}</li>
{% endfor %}
</ul>
{% else %}
no duplicate statechanges
{% endif %}


{% endblock %}

