{% extends "sim/base_faculty.html" %}

{% block breadcrumbs %}
   <a href="/sim/">Home</a> > 
   <a href="/sim/faculty/groups/{{section.id}}/">{{section}}</a> > 
   <a href="/sim/faculty/players/{{section.id}}/">Players</a> > 
   {{ player.user.first_name }} {{ player.user.last_name }} {{ player.user.username }}
   
{% endblock %}

{% load iflessthan %}

{% block content %}
   {{ block.super }}

<div class="container">   
   {% for t in player_turns %}
      <a name="turn{{t.turn}"></a>
      
      {% iflessthan t.state.turn 4 %}
         <h2>Turn {{t.state.turn}} {{t.state.name}}</h2>
      
		   <table class="datagrid">
		      <tr>
		         <td>
		            <!--  Player information -->
					   Player Status:        
					      {% ifequal t.submit_status 1 %}
					         No Action Taken
					      {% endifequal %}
					      {% ifequal t.submit_status 2 %}
					         In Progress
					      {% endifequal %}
					      {% ifequal t.submit_status 4 %}
					         Completed Turn
					      {% endifequal %}
					   <br />
					   {% if t.submit_date %}
					      Updated: {{ t.submit_date }}<br />
					      
					      {% ifequal t.automatic_update 0 %}
		                  Player completed turn on time.
		               {% endifequal %}
		               {% ifequal t.automatic_update 1 %}
		                  Player ran out time. The player's saved draft was submitted.
		               {% endifequal %}
		               {% ifequal t.automatic_update 2 %}
		                  Player ran out of time. A random choice was assigned.
		               {% endifequal %}
		               <br />
					   {% endif %}
					   <br />
					   Country Conditions: 
					   <div class="scrollable_text">{% autoescape off %}{{ t.country_condition }}{% endautoescape %}</div>
					   <br />
				
						Player Choices:<br />
						{% for c in t.choices %}
						   {% ifequal c.choice t.choice %}
						     * <b>{{c.choice}} {{ c.desc }}</b><br />
						   {% else %}
						     {{c.choice}} {{ c.desc }}<br />
						   {% endifequal %}
						{% endfor %}
						
						{% ifequal t.submit_status 4 %}
		               <br />
		               <br />
		               Player Reasoning:
		               <div class="scrollable_text">{% autoescape off %}{{ t.reasoning }}{% endautoescape %}</div>
		               <br /><br />
		            {% endifequal %}
					</td>
					<td style="vertical-align: top; padding-left: 20px;">
					   <div id="error_client_{{t.turn}}" class="error invisible"></div>
                  <div id="success_client_{{t.turn}}" class="success invisible"></div>
					   {% ifequal t.submit_status 4 %}
						   <form onsubmit="return submitFeedback(this, {{player.id}});">
								<label for="id_feedback">Feedback:</label><br />
						         {{ t.form.feedback }}
						      </div>
							   <div class="fieldWrapper">
						         {{ t.form.faculty_id }}
					    	   </div>
					    	   <div class="fieldWrapper">
                           {{ t.form.turn_id }}
                        </div>
						  	   <input type="submit" value="Submit" />
							</form>
					   {% endifequal %}
					</td>
				</tr>
			</table>
		{% endiflessthan %}		
   {% endfor %}
</div>
{% endblock %}
