{% extends "sim/base_faculty.html" %}

{% block breadcrumbs %}
   Home
{% endblock %}

{% load iflessthan %}

{% block content %}
	{{ block.super }}
<div class="container">	
	<br /><br />
{% if sections %}

	<h2>Active Sections</h2>
	<table class="datagrid table table-condensed table-striped" cellpadding="5">
		<tr>
		   <th>Section</th>
		   <th>Facilitators</th>
		   <th style="text-align: center">Current Turn</th>
		   <th colspan="4" style="text-align: center">Actions</th></tr>
		{% for section in sections %}
			<tr>
				<td>{{section.name}}</td>
				<td>
					{% for admin in section.sectionadministrator_set.all %}
						{{admin.user.first_name}} {{admin.user.last_name}} ({{admin.user.username}})<br />
					{% endfor %}
				</td>
				{% iflessthan section.current_turn 4 %}
				   <td style="text-align: center">Turn {{section.current_turn}}</td>
				{% else %}
               <td style="text-align: center">Game Completed</td>
            {% endiflessthan %}
            
				<td><a href="/sim/faculty/manage/{{section.id}}/">Turn Management</a></td>
				<td><a href="/sim/faculty/groups/{{section.id}}/">View by Groups</a></td>
				<td><a href="/sim/faculty/players/{{section.id}}/">View by Player</a></td>
                {% if user.is_superuser %}
                    <td><a onclick="submitResetRequest(this); return false;" href="/sim/faculty/reset/{{section.id}}/">Reset</a></td>
                {% endif %}
			</tr>
		{% endfor %}
	</table>
{% endif %}

<h2>Create New Section/Workshop</h2>
<form method="post" action="{% url 'create-section' %}" >
{% csrf_token %}

<table class="table">
	<tr>
		<td>Section/Workshop Name</td>
		<td><input type="text" name="section_name" class="form-control" /></td>
		<td></td>
	</tr>
</table>

<h3>Define Groups</h3>

<table class="table table-condensed table-striped">
	<tr>
		<th>Group Name:</th>
		<td colspan="3"><input type="text" name="group_name_0" class="form-control" /></td>
	</tr>
	<tr>
		<th>Role</th>
		<th>Username</th>
		<th>Password</th>
	</tr>

{% for role in roles %}
	<tr>
		<td>{{role.name}}</td>
		<td><input type="text" name="group_0_username_{{role.id}}" class="form-control" /></td>
		<td><input type="text" name="group_0_password_{{role.id}}" class="form-control" /></td>
	</tr>
{% endfor %}
</table>

<table class="table table-condensed table-striped">
	<tr>
		<th>Group Name:</th>
		<td colspan="3"><input type="text" name="group_name_1" class="form-control" /></td>
	</tr>
	<tr>
		<th>Role</th>
		<th>Username</th>
		<th>Password</th>
	</tr>

{% for role in roles %}
	<tr>
		<td>{{role.name}}</td>
		<td><input type="text" name="group_1_username_{{role.id}}" class="form-control" /></td>
		<td><input type="text" name="group_1_password_{{role.id}}" class="form-control" /></td>
	</tr>
{% endfor %}
</table>

<table class="table table-condensed table-striped">
	<tr>
		<th>Group Name:</th>
		<td colspan="3"><input type="text" name="group_name_2" class="form-control" /></td>
	</tr>
	<tr>
		<th>Role</th>
		<th>Username</th>
		<th>Password</th>
	</tr>

{% for role in roles %}
	<tr>
		<td>{{role.name}}</td>
		<td><input type="text" name="group_2_username_{{role.id}}" class="form-control" /></td>
		<td><input type="text" name="group_2_password_{{role.id}}" class="form-control" /></td>
	</tr>
{% endfor %}
</table>

<table class="table table-condensed table-striped">
	<tr>
		<th>Group Name:</th>
		<td colspan="3"><input type="text" name="group_name_3" class="form-control" /></td>
	</tr>
	<tr>
		<th>Role</th>
		<th>Username</th>
		<th>Password</th>
	</tr>

{% for role in roles %}
	<tr>
		<td>{{role.name}}</td>
		<td><input type="text" name="group_3_username_{{role.id}}" class="form-control" /></td>
		<td><input type="text" name="group_3_password_{{role.id}}" class="form-control" /></td>
	</tr>
{% endfor %}
</table>

<table class="table table-condensed table-striped">
	<tr>
		<th>Group Name:</th>
		<td colspan="3"><input type="text" name="group_name_4" class="form-control" /></td>
	</tr>
	<tr>
		<th>Role</th>
		<th>Username</th>
		<th>Password</th>
	</tr>

{% for role in roles %}
	<tr>
		<td>{{role.name}}</td>
		<td><input type="text" name="group_4_username_{{role.id}}" class="form-control" /></td>
		<td><input type="text" name="group_4_password_{{role.id}}" class="form-control" /></td>
	</tr>
{% endfor %}
</table>


<input type="submit" value="create new section" class="btn
																											 btn-primary" />
</form>

</div>
{% endblock %}
