{% extends "sim/base_player.html" %}

{% block nav %}
   <a href="/sim"/>Home</a> |
   <a href="/about/">About</a> | 
   <a href="/help/">Help</a> | 
   <a href="/siterequirements/">Site Requirements</a> | 
   <a href="/credits/">Credits</a>
{% endblock %}

{% block content %}
   <div id="gameinfo">
   
   {{ block.super }}
        
   {% if not groups %}
    	<h4>You currently are not participating in any games. Please contact the administrator</h4>
    	<br />
    {% else %}
   
	    {% for group in groups %}
	     <h3>{{group.section}} Group &mdash; {{ group.name }}</h3> 
	     <h4> You are playing the role of the 
		    	
		   {% for player in group.sectiongroupplayer_set.all  %}
	         {% ifequal player.user user %}
	            {{ player.role.name }}</h4>
            {% endifequal %}
         {% endfor %}
		   <br />
		   
	    	{% for player in group.sectiongroupplayer_set.all  %}
	    	    {% ifequal player.user user %}
	    	    	<!--  ignore -->
	    	    {% else %}
	    	    	{{ player.user.username }}: {{ player.role.name }}<br />
	    	    {% endifequal %}
	    	{% endfor %}
	    	<br />
	    	<hr />
	    	 	<br />
	      <form method="post" action="/sim/player/game/{{group.id}}/">  <input class="center" type="submit" value="Play The Game" /></form>
	    
	    	
	    	</div>
	    {% endfor %}
	 {% endif %}      
{% endblock %}