{% extends 'sim/base_faculty.html' %}
{% load markup %}

{% block breadcrumbs %}
<a href="{% url 'roles-index' %}">Roles</a> / {{role.name}}
{% endblock %}


{% block content %}
<div class="container">
	<div class="pull-right">
				<a href="{% url 'edit-role' role.id %}" class="btn btn-primary"><span class="glyphicon
                glyphicon-edit" aria-hidden="true"></span></a>

				<a href="{% url 'delete-role' role.id %}" class="btn btn-danger"><span class="glyphicon
                glyphicon-trash" aria-hidden="true"></span></a>
	</div>


	<h1>Role: {{role.name}}</h1>


	{{role.description|markdown}}

{% if role.staterolechoice_set.exists %}
	<h2>State Choices</h2>

	<table class="table table-striped">
		{% for src in role.staterolechoice_set.all %}
		{% ifchanged src.state %}
		<tr>
		<th colspan="2"><a href="{% url 'state' src.state.id %}"><span class="swatch" style="background-color:
		#{{src.state.get_color}}"></span> T{{src.state.turn}}_S{{src.state.state_no}}
		{{src.state.name}}</a></th>
		</tr>
		{% endifchanged %}
		<tr>
			<td>{{src.choice}}</td>
			<td>{{src.desc|markdown}}</td>
		</tr>
		{% endfor %}
	</table>
{% endif %}
</div>
{% endblock %}
