{% extends 'sim/base_faculty.html' %}
{% load markup %}
{% load bootstrap %}

{% block breadcrumbs %}
<a href="{% url 'roles-index' %}">Roles</a> /
Add New Role
{% endblock %}


{% block content %}
<div class="container">

		<h3>Add New Role</h3>
		<div class="alert alert-warning">Beware that adding a new Role will make
			things inconsistent and possibly broken until you've
			added all the corresponding choices and transitions for it.</div>
		<form method="post" action="{% url 'create-role' %}">
			{% csrf_token %}
			{{ form|bootstrap }}

			<input type="submit" class="btn btn-primary" value="Add"/>
		</form>
</div>
{% endblock %}
