{% extends 'sim/base_faculty.html' %}
{% load markup %}

{% block breadcrumbs %}
Roles
{% endblock %}


{% block content %}
<div class="container">
	<h2>Roles</h2>

	<p><a href="{% url 'create-role' %}"> <span class="glyphicon
	glyphicon-plus" aria-hidden="true"></span> Add new Role</a></p>

	{% if object_list %}
	<table class="table table-striped">
		<tr>
			<th>Role</th>
			<th>Description</th>
		</tr>
	{% for role in object_list %}
		<tr>
			<td><a href="{% url 'role' role.id %}">{{ role.name }}</a></td>
			<td>{{ role.description|markdown }}</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}


</div>



{% endblock %}
