{% extends 'sim/base_faculty.html' %}
{% load markup %}

{% block breadcrumbs %}
Roles
{% endblock %}


{% block content %}
<div class="container">

		<h3>Add New Role</h3>
		<div class="alert alert-warning">Beware that adding a new Role will make
			things inconsistent and possibly broken until you've
			added all the corresponding choices and transitions for it.</div>
		<form method="post" action="{% url 'create-role' %}">
			{% csrf_token %}
			<div class="form-group">
				<label for="role-name">Name</label>
				<input type="text" class="form-control" name="name"
				id="role-name" />
			</div>

			<div class="form-group">
				<label for="role-desc">Description</label>
				<textarea name="description" id="role-desc" rows="7"
				class="form-control"></textarea>
			</div>

			<input type="submit" class="btn btn-primary" value="Add"/>
		</form>
</div>
{% endblock %}
