{% extends 'sim/base_faculty.html' %}
{% load markup %}

{% block breadcrumbs %}
<a href="{% url 'states-index' %}">States</a> / {{state.name}}
{% endblock %}


{% block content %}
<div class="container">
	<h1>State: <span class="swatch" style="background-color: #{{state.get_color}}"></span> [{{state.turn}}:{{state.state_no}}] {{state.name}}</h1>

	<table class="table">
		<tr><th>Turn</th><td>{{state.turn}}</td></tr>
		<tr><th>State #</th><td>{{state.state_no}}</td></tr>
	</table>


	{% if state.staterolechoice_set.exists %}
	<h2>Role Choices</h2>

	<table class="table table-striped">
		{% for src in state.staterolechoice_set.all %}
		{% ifchanged src.role %}
		<tr>
			<th colspan="2"><a href="{% url 'role' src.role.id %}">{{src.role.name}}</a></th>
		</tr>
		{% endifchanged %}
		<tr>
			<td class="choice-{{src.choice}}">{{src.choice}}</td>
			<td>{{src.desc|markdown}}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}

	{% if state.to_states.exists %}
	<h2>Transitions to:</h2>

	<table class="table table-striped">
		{% for sc in state.to_states %}
		<tr>
			<th>
				<a href="{% url 'state' sc.next_state.id %}"><span class="swatch" style="background-color:
				#{{sc.next_state.get_color}}"></span> [{{sc.next_state.turn}}:{{sc.next_state.state_no}}] {{sc.next_state.name}}</a>
			</th>
			{% for choice in sc.show_choices %}
			<td class="choice-{{choice.choice}}">
				{{choice.role}}={{choice.choice}}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>

	{% endif %}

	{% if state.from_states.exists %}
	<h2>Transitions from:</h2>
	<table class="table table-striped">
		{% for sc in state.from_states %}
		<tr>
			<th><a href="{% url 'state' sc.state.id %}"><span class="swatch"
			style="background-color: #{{sc.state.get_color}}"></span> [{{sc.state.turn}}:{{sc.state.state_no}}] {{sc.state.name}}</a></th>
			{% for choice in sc.show_choices %}
			<td class="choice-{{choice.choice}}">
				{{choice.role}}={{choice.choice}}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	{% endif %}

</div>
{% endblock %}
