{% extends 'sim/base_faculty.html' %}
{% load markup %}

{% block breadcrumbs %}
<a href="{% url 'states-index' %}">States</a> / {{state.name}}
{% endblock %}


{% block content %}
<div class="container">
<div class="panel panel-default">
<div class="panel-heading">
		<div class="panel-title">
	<div class="pull-right">
		<a href="{% url 'edit-state' state.id %}"
			 class="btn btn-primary">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
		</a>
		<a href="{% url 'delete-state' state.id %}"
			 class="btn btn-danger">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</a>
	</div>

State: <span class="swatch" style="background-color: #{{state.get_color}}"></span> [{{state.turn}}:{{state.state_no}}] {{state.name}}
</div>
</div>
	<div class="panel-body">

	<table class="table">
		<tr><th>Turn</th><td>{{state.turn}}</td></tr>
		<tr><th>State #</th><td>{{state.state_no}}</td></tr>
	</table>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Role Choices</div>
	</div>

	<div class="panel-body">

	<p><a href="{% url 'add-role-choice' state.id %}"> <span class="glyphicon
	glyphicon-plus" aria-hidden="true"></span> Add Role Choice</a></p>

	{% if state.staterolechoice_set.exists %}
	<table class="table table-striped">
		{% for src in state.staterolechoice_set.all %}
		{% ifchanged src.role %}
		<tr>
			<th colspan="3"><a href="{% url 'role' src.role.id %}">{{src.role.name}}</a></th>
		</tr>
		{% endifchanged %}
		<tr>
			<td class="choice-{{src.choice}}">{{src.choice}}</td>
			<td>{{src.desc|markdown}}</td>
			<td><a href="{% url 'delete-role-choice' src.id %}"
			 class="btn btn-danger btn-sm">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</a></td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>No role choices specified.</p>
	{% endif %}
</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Transitions out of this state</div>
	</div>
	<div class="panel-body">
	{% if state.to_states.exists %}

	<table class="table table-striped">
		{% for sc in state.to_states %}
		<tr>
			<th>
				<a href="{% url 'state' sc.next_state.id %}"><span class="swatch" style="background-color:
				#{{sc.next_state.get_color}}"></span> [{{sc.next_state.turn}}:{{sc.next_state.state_no}}] {{sc.next_state.name}}</a>
			</th>
			{% for choice in sc.show_choices %}
			<td class="choice-{{choice.choice}}">
				{{choice.role}}={{choice.choice}}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>No transitions out of this state.</p>
	{% endif %}
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Transitions into this state</div>
	</div>
	<div class="panel-body">
	{% if state.from_states.exists %}
	<table class="table table-striped">
		{% for sc in state.from_states %}
		<tr>
			<th><a href="{% url 'state' sc.state.id %}"><span class="swatch"
			style="background-color: #{{sc.state.get_color}}"></span> [{{sc.state.turn}}:{{sc.state.state_no}}] {{sc.state.name}}</a></th>
			{% for choice in sc.show_choices %}
			<td class="choice-{{choice.choice}}">
				{{choice.role}}={{choice.choice}}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>No transitions into this state.</p>
	{% endif %}
</div></div>

</div>
{% endblock %}
