{% extends 'sim/base_faculty.html' %}
{% load markup %}

{% block breadcrumbs %}
States
{% endblock %}


{% block content %}
<div class="container">
	<h2>States</h2>

	<p><a href="{% url 'create-state' %}"> <span class="glyphicon
	glyphicon-plus" aria-hidden="true"></span> Add new State</a></p>

	{% if object_list %}
	<table class="table table-striped">
		{% for state in object_list %}
		{% ifchanged state.turn %}
		<tr><th colspan="2">Turn: {{state.turn}}</th></tr>
		{% endifchanged %}
		<tr>
			<td>
<a href="{% url 'state' state.id %}">
<span class="swatch" style="background-color: #{{state.get_color}}"></span>
[{{state.turn}}:{{state.state_no}}] {{state.name}}</a></td>
		</tr>
		{% endfor %}
	</table>

	{% endif %}

{% endblock %}
