{% extends "base.html" %}

{% block content %}
	{{ block.super }}
	<br /><br />
	Users & Group Page<br />
	<br /><br />
	{% for player in players %}
		Group: {{ player.group.name }}<br />
		Player: {{ player.role.name }} ({{ player.uni }})<br /><br />
		
		{% for teammate in player.group.player_set.all %}
			{{ teammate.uni }}: {{ teammate.role.name }}<br />
		{% endfor %}
	
		<br /><br />
		
		{% if player.playerturn_set.all %}
			<table border="1">
				<tr><td>Decision Turn</td><td>Date Submitted</td><td>Individual Feedback</td><td>Group Feedback</td><td>Action</td></tr>
				{% for t in player.playerturn_set.all %}
					<tr><td>{{t.state.turn}}</td><td>{{t.date_submitted}}</td><td/><td/><td><a href="">view</a></td></tr> 
				{% endfor %}
			</table>
		{% endif %}
		
		<a href="narrative/{{player.group.id}}/{{player.id}}">Continue</a>
	{% endfor %}
	
{% endblock %}