<html>
<head><title>countryx: {% block title %}{% endblock %}</title>

<style media="screen" type="text/css">
   @import "/site_media/css/site.css";
</style>

{% block css %}{% endblock %}

{% block js %}
   <script type="text/javascript" src="/site_media/js/core.js"></script>
{% endblock %}

{% block feeds %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">

<div id="wrapper">
<div id="masthead"><span>{% block masthead %}{% endblock %}</span></div>
<div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
<div id="nav">
</div>

{% block content %}{% endblock %}
</div>
{% block footer %}{% endblock %}
</body></html>
