<html>
<head><title>genocideprevention: {% block title %}{% endblock %}</title>

<style media="screen" type="text/css">
@import "/site_media/css/site.css" ;
</style>

{% block css %}{% endblock %}
{% block js %}{% endblock %}
{% block feeds %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">

<div id="wrapper">
<div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
<h1 id="masthead"><span>Genocide Prevention {% block masthead %}{% endblock %}</span></h1>
<div id="nav">{% block nav %}<a href="/about/">About</a> | <a href="/help/">Help</a> | <a href="/siterequirements/">Site Requirements</a> | <a href="/credits/">Credits</a> | 
{% endblock %}</div>

{% block content %}{% endblock %}
</div>
{% block footer %}{% endblock %}
</body></html>
