{% extends "base.html" %}
{% block css %}
{{ block.super }}
<style type='text/css'>
     @import "{{STATIC_URL}}css/style.css";
  @import "{{STATIC_URL}}css/game.css";
</style>
{% endblock %}
{% block js %}
   {{ block.super }}
   <script type="text/javascript" src="{{STATIC_URL}}js/mochikit/MochiKit/MochiKit.js"></script>
   <script type="text/javascript" src="{{STATIC_URL}}js/mochikit/MochiKit/Visual.js"></script>
   <script type="text/javascript" src="{{STATIC_URL}}js/json2.js"></script>
   <script type="text/javascript" src="{{STATIC_URL}}js/SortableTable.js"></script>
{% endblock %}


{% block masthead %}
<div id="simlogo">
<a href="/sim/"><img src="{{STATIC_URL}}images/countryx_logo.png" alt="Country X" /></a>
</div>

 <!--  <a href="http://ccnmtl.columbia.edu">CCMNMTL LOGO</a>
           <div id="masthead_desc">Descriptive Tag Line Goes Here</div>-->
         
         
         <div id="login_credentials">
            <a href="/about/">About</a> | <a href="/help/">Help</a> | <a href="/contact/">Contact</a>
            <br />
            <br />
            
         </div><!-- div  id="login_credentials" -->
{% endblock %}

{% block content %}

<br />
<div id="loginbox">

<h2>Login to Country X...</h2>
<hr />

<form method="post" action=".">
{% csrf_token %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<table>
<tr><td><label for="id_username">Username:</label></td><td>{{ form.username }}</td></tr>
<tr><td><label for="id_password">Password:</label></td><td>{{ form.password }}</td></tr>
</table>
<input type="submit" value="Log in" />
<input type="hidden" name="next" value="{{ next }}" />
</form>


</div><!-- id=loginbox -->


{% endblock %}
