{% extends "sim/base_sim.html" %}

{% block js %}
   {{ block.super }}
   <script type="text/javascript" src="/admin_media/js/core.js"></script>
   <script type="text/javascript" src="/admin_media/js/calendar.js"></script>
   <script type="text/javascript" src="/admin_media/js/dateparse.js"></script>
   <script type="text/javascript" src="/admin_media/js/timeparse.js"></script>
   <script type="text/javascript" src="/admin_media/js/admin/DateTimeShortcuts"></script>
   <script type="text/javascript" src="/sim/media/js/faculty.js"></script>
{% endblock %}

{% block css %}
{{ block.super }}
	<style type='text/css'>
	  @import "/sim/media/css/faculty.css";
	</style>
{% endblock %}

{% block masthead %}
   <table width="100%">
      <tr><td id="masthead">Country X Administration</td>
      <td id="login_credentials">Welcome, {{user.username}} / <a style="color: white" href="/sim/logout/">Logout</a></td></tr>
   </table>
{% endblock %}

