{% extends "sim/base_faculty.html" %}

{% block breadcrumbs %}
   Home
{% endblock %}

{% load iflessthan %}

{% block content %}
	{{ block.super }}
	
	<br /><br />
	<table class="datagrid" cellpadding="5">
		<tr>
		   <th>Course Title</th>
		   <th>Term</th>
		   <th>Administrators</th>
		   <th style="text-align: center">Current Turn</th>
		   <th style="text-align: center">Turn Close Date</th>
		   <th colspan="3" style="text-align: center">Actions</th></tr>
		{% for section in sections %}
			<tr>
				<td>{{section.name}}</td><td>{{section.term}} {{section.year}}</td>
				<td>
					{% for admin in section.sectionadministrator_set.all %}
						{{admin.user.first_name}} {{admin.user.last_name}} ({{admin.user.username}})<br />
					{% endfor %}
				</td>
				{% iflessthan section.current_turn 4 %}
				   <td style="text-align: center">Turn {{section.current_turn}}</td>
				{% else %}
               <td style="text-align: center">Game Completed</td>
            {% endiflessthan %}
            
				<td style="text-align: center">{{section.current_turn_close_date}}</td>
				
				<td><a href="/sim/faculty/manage/{{section.id}}/">Turn Management</a></td>
				<td><a href="/sim/faculty/groups/{{section.id}}/">View by Groups</a></td>
				<td><a href="/sim/faculty/players/{{section.id}}/">View by Player</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}