{% extends "sim/base_faculty.html" %}

{% block breadcrumbs %}
   <a href="/sim/">Home</a> > 
   <a href="/sim/faculty/groups/{{section.id}}/">{{section}}</a> > 
   <a href="/sim/faculty/group/{{group.id}}/">Group {{ group.name }} > 
   <a href="/sim/faculty/group/{{group.id}}#turn{{state.turn}}">Turn {{ state.turn }}</a> >
   {{ player.user.first_name }} {{ player.user.last_name }} {{ player.user.username }}
{% endblock %}

{% block content %}
   {{ block.super }}
   <h2>Turn {{state.turn}} {{state.name}}</h2>
   <table class="datagrid">
      <tr>
         <td>
            <!--  Player information -->
			   Player Status:        
			      {% ifequal submit_status 1 %}
			         No Action Taken
			      {% endifequal %}
			      {% ifequal submit_status 2 %}
			         In Progress
			      {% endifequal %}
			      {% ifequal submit_status 4 %}
			         Completed Turn
			      {% endifequal %}
			   <br />
			   {% if turn %}
			      Updated: {{ turn.submit_date }}<br />
			   {% endif %}
			   <br />
			   Country Conditions: 
			   <div class="scrollable_text">{% autoescape off %}{{ country_condition }}{% endautoescape %}</div>
			   <br />
		
				Player Choices:<br />
				{% for c in choices %}
				   {% ifequal c.choice turn.choice %}
				     * <b>{{c.choice}} {{ c.desc }}</b><br />
				   {% else %}
				     {{c.choice}} {{ c.desc }}<br />
				   {% endifequal %}
				{% endfor %}
				
				{% ifequal submit_status 4 %}
               <br />
               <br />
               Player Reasoning:
               <div class="scrollable_text">{% autoescape off %}{{ turn.reasoning }}{% endautoescape %}</div>
               <br /><br />
            {% endifequal %}
			</td>
			<td style="vertical-align: top; padding-left: 20px;">
				{% ifequal submit_status 4 %}
				   <div id="error_client_{{state.turn}}" class="error invisible"></div>
               <div id="success_client_{{state.turn}}" class="success invisible"></div>
               <form onsubmit="return submitFeedback(this, {{player.id}});">
						<div class="fieldWrapper">
						   <label for="id_feedback">Feedback:</label><br />
					      {{ form.feedback }}
					   </div>
						<div class="fieldWrapper">
					      {{ form.faculty_id }}
			    	   </div>
			    	   <div class="fieldWrapper">
                     {{ form.turn_id }}
                  </div>
				  	   <input type="submit" value="Submit" />
					</form>
			   {% endifequal %}
			</td>
		</tr>
	</table>		
{% endblock %}