{% extends "sim/base_sim.html" %}

{% block content %}
    {{ block.super }}
    Welcome {{ user.first_name }} {{ user.last_name }} ({{ user.username }})<br /><br />
    
    {% if updated %}
    	Your changes have been saved.
    {% endif %}
    
    <br /><br />
    Current Player Page:<br /><br />
    {{section.name}} {{section.term}} {{section.year}}<br />
    {{ player.role.name }}: {{ player.user.first_name }} {{ player.user.last_name }} ({{ player.user.username }})<br />
    <br /><br />

	Player Choices:<br />
	{% for c in choices %}
		{{c.choice}} {{ c.desc }}<br />
	{% endfor %}
	<br />
	<br />
	Player Selected: {{ player_turn.choice }}<br />
	Submitted: {{ player_turn.date_submitted }}<br />
	<br />
	<br />
	<form action="/sim/faculty/player/{{section.id}}/{{group.id}}/{{player.user.id}}/" method="POST">
		<div class="fieldWrapper">
	        {{ form.feedback.errors }}
	        <label for="id_feedback">Feedback:</label><br />
	        {{ form.feedback }}
	    </div>
		<div class="fieldWrapper">
	        {{ form.faculty_id }}
    	</div>
  	<input type="submit" value="Submit" />
	</form>
		
{% endblock %}