{% extends "sim/base_faculty.html" %}

{% block breadcrumbs %}
   <a href="/sim/">Home</a> > {{section}}
{% endblock %}

{% block content %}
   {{ block.super }}
   
   <table id="sortable_table" class="datagrid">
      <thead>
         <tr>
            <th mochi:format="str">Status</th>
            <th mochi:format="str">Group</th>
            <th>Current State</th>
            <th>Action</th>
         </tr>
      </thead>
      <tfoot class="invisible">
          <tr>
              <td colspan="0"></td>
          </tr>
      </tfoot>
      <tbody>
         {% for group in section.sectiongroup_set.all %}
            <tr>
	            <td>
	                  {% ifequal group.status 1 %}
	                     No Action Taken
	                  {% endifequal %}
	                  {% ifequal group.status 2 %}
	                     In Progress
	                  {% endifequal %}
	                  {% ifequal group.status 4 %}
	                     Completed Turn
	                  {% endifequal %}
	             </td>
	             <td>{{ group.name }}</td>
                <td>{{ group.sectiongroupstate_set.latest.state.name }}</td>
	             <td><a href="/sim/faculty/group/{{ group.id }}/">View Detail</a></td>
	          </tr>
	      {% endfor %}
	   </tbody>
   </table>
   
{% endblock %}