{% extends "sim/base_sim.html" %}

{% block css %}
{{ block.super }}
<style type='text/css'>
  @import "/sim/media/css/faculty.css";
</style>
{% endblock %}

{% block content %}
	{{ block.super }}
	<br /><br />
	<table class="datagrid" cellpadding="5">
		<tr><th>Course Title</th><th>Term</th><th>Administrators</th></tr>
		{% for section in sections %}
			<tr>
				<td>{{section.name}}</td><td>{{section.term}} {{section.year}}</td>
				<td>
					{% for admin in section.sectionadministrator_set.all %}
						{{admin.user.first_name}} {{admin.user.last_name}} ({{admin.user.username}})<br />
					{% endfor %}
				</td>
				
				<td><a href="/sim/faculty/groups/{{section.id}}/">View by Groups</a></td>
				<td><a href="/sim/faculty/players/{{section.id}}/">View by Player</a></td>
			</tr>
		{% endfor %}
	
	</table>
	
{% endblock %}