{% extends "sim/base_faculty.html" %}

{% block breadcrumbs %}
   <a href="/sim/">Home</a> > {{section}}
{% endblock %}

{% block content %}
   {{ block.super }}
   
   <table id="sortable_table" class="datagrid">
      <thead>
         <tr>
            <th mochi:format="str">Player Status</th>
            <th mochi:format="str">Group</th>
            <th mochi:format="str">Group Turn</th>
            <th mochi:format="str">Name</th>
            <th mochi:format="str">Uni</th>
            <th mochi:format="str">Role</th>
            <th>Action</th>
         </tr>
      </thead>
      <tfoot class="invisible">
          <tr>
              <td colspan="0"></td>
          </tr>
      </tfoot>
      <tbody>
         {% for player in players %}
	         <tr>
	            <td>
		            {% ifequal player.current_status 1 %}
	                   No Action Taken
	               {% endifequal %}
	               
	               {% ifequal player.current_status 2 %}
	                   Choice Pending
	               {% endifequal %}
	               
	               {% ifequal player.current_status 4 %}
	                  Submitted      
	               {% endifequal %}
	            </td>
	            <td>{{ player.group.name }}</td>
               <td>{{ player.group.sectiongroupstate_set.latest.state.turn  }}</td>
               <td>{{ player.user.first_name }} {{ player.user.last_name }}</td>
	            <td>{{ player.user.username }}</td>
	            <td>{{ player.role.name }}</td>
	            <td><a href="/sim/faculty/player/{{ group.id }}/{{ p.model.id }}/{{t.group_state.state.id}}/">Detail</a></td>
	         </tr>
         {% endfor %}
      </tbody>
   </table>
{% endblock %}