{% extends "sim/base_sim.html" %}

{% block css %}
{{ block.super }}
<style type='text/css'>
  @import "/sim/media/css/faculty.css";
</style>
{% endblock %}

{% block content %}
   {{ block.super }}
   Welcome {{ user.first_name }} {{ user.last_name }} ({{ user.username }})<br /><br />
   Group: {{group.name}}<br />
   <br />
   {% for t in turns %}
      Turn {{t.group_state.state.turn}} {{t.group_state.state.name}}<br />
      Status:        
	      {% ifequal t.group_state.status 1 %}
	         No Action Taken
	      {% endifequal %}
	      {% ifequal t.group_state.status 2 %}
	         In Progress
	      {% endifequal %}
	      {% ifequal t.group_state.status 4 %}
	         Completed Turn
	      {% endifequal %}
      <br />
      Updated: {{ t.group_state.date_updated }}<br />
      <br />
      
      <table id="sortable_table" class="datagrid">
      <thead>
         <tr>
            <th mochi:format="str">First Name</th>
            <th mochi:format="str">Last Name</th>
            <th mochi:format="str">Uni</th>
            <th mochi:format="str">Status</th>
            <th mochi:format="date">Date Submitted</th>
            <th mochi:format="int">Choice</th>
            <th>Action</th>
         </tr>
      </thead>
      <tfoot class="invisible">
          <tr>
              <td colspan="0"></td>
          </tr>
      </tfoot>
      <tbody>
          {% for p in t.players %}
            <tr>
               <td>{{ p.model.user.first_name }}</td>
               <td>{{ p.model.user.last_name }}</td>
               <td>{{ p.model.user.username }}</td>
               <td>
                  {% ifequal p.submit_status 1 %}
                     No Action Taken
	               {% endifequal %}
	               {% ifequal p.submit_status 2 %}
	                  Decision Pending
	               {% endifequal %}
	               {% ifequal p.submit_status 4 %}
	                  Submitted
	               {% endifequal %}
               </td>
		         {% if p.turn %}
		            <td>{{ p.turn.submit_date }}</td>
		            <td>{{ p.turn.choice }}</td>
		             {% else %}
		             </td></td>            
		         {% endif %}
		      </tr>
		    {% endfor %}
		 </tbody>
       </table>
   {% endfor %}
    
{% endblock %}