{% extends "sim/base_sim.html" %}

{% block content %}
    {{ block.super }}
    
    <br /><br />
    Welcome to Country X
    <br /><br />
        
    {% if not groups %}
    	You currently are not participating in any games. Please contact the administrator
    	<br />
    {% else %}
   
	    {% for group in groups %}
	       <table class="datagrid" style="width: 800px">
		      <thead>
		         <tr>
		            <th style="width: 200px">{{group.section}}</th>
		            <th style="width: 200px">Group &mdash; {{ group.name }}</th>
		            <th />
		         </tr>
		      </thead>   
		   </table>
	      
	      You are playing the role of the 
		    	
		   {% for player in group.sectiongroupplayer_set.all  %}
	         {% ifequal player.user user %}
	            {{ player.role.name }}<br />
            {% endifequal %}
         {% endfor %}
		   <br />
	    	{% for player in group.sectiongroupplayer_set.all  %}
	    	    {% ifequal player.user user %}
	    	    	<!--  ignore -->
	    	    {% else %}
	    	    	{{ player.user.username }}: {{ player.role.name }}<br />
	    	    {% endifequal %}
	    	{% endfor %}
	    	<br />
	    	<a href="/sim/player/game/{{group.id}}/">Play The Game</a>
	    	<hr />
	    {% endfor %}
	 {% endif %}      
{% endblock %}