{% extends "sim/base_sim.html" %}

{% block css %}
{{ block.super }}
<style type='text/css'>
  @import "/sim/media/css/game.css";
</style>
{% endblock %}

{% block js %} 
   {{ block.super }}
   <script type="text/javascript" src="/sim/media/js/game.js"></script>
{% endblock %}

{% block content %}
{{ block.super }}

<div class="main">
   <table>
      <tr style="vertical-align: top">
         <!--  Column 1 -- Player -->
         <td >
            <!--  You -->               
            {% for player in group.sectiongroupplayer_set.all  %}
               {% ifequal you player %}
                  <table>
                     <tr><td colspan="2"><div class="player_rolename">Your Player: {{ player.role.name }}</div></td></tr>
                     <tr>
                        <td colspan="2">
                           <div id="{{player.role.name}}_description" class="your_description scrollable">{{ player.role.description }}</div>
                        </td>
                     </tr>
                  </table>
               {% endifequal %}
            {% endfor %}
               
            <!--  Everyone Else -->
            {% for player in group.sectiongroupplayer_set.all  %}
               {% ifnotequal you player %}
                  <table>
                     <tr><td colspan="2"><div class="player_rolename">{{ player.role.name }}</div></td></tr>
	                  <tr>
	                     <td>
	                        <div id="{{player.role.name}}_image" class="player_image"><img src="/sim/media/images/silhouette.jpg"></div>
	                        <div id="{{player.role.name}}_description" class="player_description invisible">{{ player.role.description }}</div>
	                     </td>
	                     <td>
	                        <div class="character_choice" onclick="toggleCharacterProfile(this, '{{player.role.name}}')">Character<br />Profile</div>
	                        <div class="character_choice" onclick="requestOfflineNegotiations(this)">Request<br />Offline<br />Negotiation</div>
	                        <div id="{{player.role.name}}_choice" class="character_choice">
		                        {% ifequal player.status 1 %}
		                           No ActionTaken
		                        {% endifequal %}
		                        {% ifequal player.status 2 %}
                                 Decision Pending
                              {% endifequal %}
                              {% ifequal player.status 4 %}
                                 Submitted
                              {% endifequal %}
	                        </div>
	                     </td>
	                  </tr>
                  </table>
               {% endifnotequal %}
            {% endfor %}
            </td>
            <td>
               <!--  Column 2 -->
               <!--  Country Conditions / Text & Graph -->
               <div class="country_conditions">
                  <div class="country_state">Current Country Conditions: {{ state }}</div>
                  <div class="country_conditions_textarea scrollable">{% autoescape off %}{{ country_condition }}{% endautoescape %}</div>
               </div>
              
               <div class="country_conditions_graph">
                  {% for condition in conditions %}
			            {{ condition.name }}: {{ condition.value }}<br />
			         {% endfor %}
               </div>
            </td>
            <td>
               <div id="errorMsg" class="error invisible"></div>
               <div id="successMsg" class="success invisible"></div>
               
               <!-- Column 3 -->
               <!--  Choices / Clock -->
               <div>
                  <div id="current_choice" class="invisible">{{ saved_turn.choice }}</div>
                  {% ifequal 1 submit_state %}
                     Status: <div id="submit_state_desc" class="player_rolename">No Action Taken</div< 
                     <!--  not yet selected -->
                     {% for c in choices %}
                        <div id="{{c.choice}}" class="player_choice" onclick="choose(this, {{ c.choice }}); return true;">{{ c.desc }}</div><br />
                     {% endfor %}
                     <div id="reasoning_form" style="display: none">
	                     <div id="errorClient" class="error invisible"></div>
	                     <textarea id="reasoning" class="reasoning">Enter your reasoning here</textarea>
	                     <input id="savedraft" type="submit" value="save draft" onclick="saveChoice(this, 0); return true;"/>
	                     <input id="submit" type="submit" value="submit" onclick="saveChoice(this, 1); return true;"/>
	                     <input id="clear" type="submit" value="clear" onclick="clearChoice(this); return true;"/>
	                  </div>
                  {% endifequal %}
               
                  {% ifequal 2 submit_state %}
                     Status: <div id="submit_state_desc" class="player_rolename">Decision Pending</div<
                     <!--  in draft -->
                     {% for c in choices %}
                        {% ifequal c.choice saved_choice.choice %}
                           <div id="{{c.choice}}" class="player_choice" onclick="choose(this, {{ c.choice }}); return true;">{{ c.desc }}</div><br />
                        {% else %}
                           <div id="{{c.choice}}" class="player_choice invisible" onclick="choose(this, {{ c.choice }}); return true;">{{ c.desc }}</div><br />
                        {% endifequal %}
                     {% endfor %}
                     <div id="reasoning_form" style="display: block">
                        <div id="errorClient" class="error invisible"></div>
                        <textarea id="reasoning" class="reasoning">{{ saved_turn.reasoning }}</textarea>
                        <input id="savedraft" type="submit" value="save draft" onclick="saveChoice(this, 0); return true;"/>
                        <input id="submit" type="submit" value="submit" onclick="saveChoice(this, 1); return true;"/>
                        <input id="clear" type="submit" value="clear" onclick="clearChoice(this); return true;"/>
                     </div>
                  {% endifequal %}
                  
                  {% ifequal 4 submit_state %}
                     Status: <div id="submit_state_desc" class="player_rolename">Final Submit</div>
                     <!--  submitted -->    
                     <div id="{{saved_choice.choice}}" class="player_choice">{{ saved_choice.desc }}</div><br />
	                  <div id="reasoning_form" style="display: block">
	                     <div id="errorClient" class="error invisible"></div>
	                     <textarea id="reasoning" class="reasoning" readonly="true">{{ saved_turn.reasoning }}</textarea>
	                  </div>
                  {% endifequal %}
               </div>
            </td>
         </tr>
    </table>
</div>    
{% endblock %}