{% extends "base.html" %}

{% block content %}
    {{ block.super }}
    
    <br /><br />
    User & Groups Page<br />
    Welcome {{ user.first_name }} {{ user.last_name }} ({{ user.username }})
    <br /><br />
        
    {% if not groups %}
    	You currently are not participating in any games. Please contact the administrator
    	<br />
    {% else %}
    
	    {% for group in groups %}
	    	Group: {{ group.name }}<br />
	    	
	    	{% for player in group.sectiongroupplayer_set.all  %}
	    	    {% ifequal player.user user %}
	    	    	<b>{{ player.user.username }}: {{ player.role.name }}</b><br />
	    	    {% else %}
	    	    	{{ player.user.username }}: {{ player.role.name }}<br />
	    	    {% endifequal %}
	    	{% endfor %}
	    	
	        {% for player in group.sectiongroupplayer_set.all  %}
	    	    {% ifequal player.user user %}
	    	        {% for turn in player.sectiongroupplayerturn_set.all %}
	    	        	{{ turn.choice }}{{ turn.date_submitted }}
	    	        {% endfor %}
	    	    {% endifequal %}
	    	{% endfor %}
	    	
	    	<a href="/sim/player/narrative/{{group.id}}/{{user.id}}">Continue</a>
	    	<hr />
	    {% endfor %}
	 {% endif %}      
{% endblock %}