{% extends "base.html" %}

{% block content %}
    {{ block.super }}
    <br /><br />
    Course Page:<br />
    {{section.name}} {{section.term}} {{section.year}}<br />
    {{ user.first_name }} {{ user.last_name }} ({{ user.username }})<br /><br />
    <br /><br />
     
    {% for group in section.sectiongroup_set.all %}
    	<b>Group {{ group.name }}</b><br />
    	<br /><br />
    	<table>
	    	<tr><th>Decision Turn</th></tr>
	    	<tr><td>#{{ group.current_state.turn }}</td></tr>
    	</table>
    {% endfor %}
{% endblock %}