<html>
<head><title>countryx: {% block title %}{% endblock %}</title>

<style media="screen" type="text/css">
   @import "/site_media/css/site.css";
   </style>
 <!-- Internet Explorer Fixes -->
<!--[if IE]>
<style type="text/css" media="all">@import "/site_media/css/ie_fixes.css";</style>
<![endif]-->


{% block css %}{% endblock %}

{% block js %}
   <script type="text/javascript" src="/site_media/js/core.js"></script>
{% endblock %}

{% block feeds %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">

<div id="wrapper">
<div id="masthead">{% block masthead %}{% endblock %}</div>
<div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
<div id="nav">
</div>
<div id="main">
{% block content %}{% endblock %}
</div></div>
{% block footer %}{% endblock %}
{% if STAGING_ENV %}
<div class="alert alert-error"
 style="position: fixed; bottom: 0px; background-color: #fee; border: #f00 solid 1px;">
<h4>Warning: Staging Site</h4>
<p>You are viewing a staging version of this site, not the production site.</p>
<p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
</div>
{% endif %}

{% if request.user.is_impersonate %}
<div class="alert alert-error" style="position: fixed; left: 0px; top: 75px; background-color: #fee;">
You are impersonating. <a href="{% url 'impersonate-stop' %}">stop</a>.
</div>
{% endif %}
</body></html>
