<html>
<head><title>countryx: {% block title %}{% endblock %}</title>

<style media="screen" type="text/css">
   @import "/site_media/css/site.css";
   </style>
 <!-- Internet Explorer Fixes -->
<!--[if IE]>
<style type="text/css" media="all">@import "/site_media/css/ie_fixes.css";</style>
<![endif]-->


{% block css %}{% endblock %}

{% block js %}
   <script type="text/javascript" src="/site_media/js/core.js"></script>
{% endblock %}

{% block feeds %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">

<div id="wrapper">
<div id="masthead">{% block masthead %}{% endblock %}</div>
<div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
<div id="nav">
</div>
<div id="main">
{% block content %}{% endblock %}
</div></div>
{% block footer %}{% endblock %}
</body></html>
