{% extends "base.html" %}
{% block css %}
{{ block.super }}
<style type='text/css'>
     @import "{{STATIC_URL}}css/style.css";
  @import "{{STATIC_URL}}css/game.css";
</style>
{% endblock %}
{% block js %}
   {{ block.super }}
   <script type="text/javascript" src="{{STATIC_URL}}js/mochikit/MochiKit/MochiKit.js"></script>
   <script type="text/javascript" src="{{STATIC_URL}}js/mochikit/MochiKit/Visual.js"></script>
   <script type="text/javascript" src="{{STATIC_URL}}js/json2.js"></script>
   <script type="text/javascript" src="{{STATIC_URL}}js/SortableTable.js"></script>
{% endblock %}


{% block masthead %}
<div id="simlogo">
<a href="/sim/"><img src="{{STATIC_URL}}images/countryx_logo.png" alt="Country X" /></a>
</div>

 <!--  <a href="http://ccnmtl.columbia.edu">CCMNMTL LOGO</a>
           <div id="masthead_desc">Descriptive Tag Line Goes Here</div>-->
         
         
         <div id="login_credentials">
            <a href="/about/">About</a> | <a href="/help/">Help</a> | <a href="/contact/">Contact</a>
            <br />
            <br />
            
         </div><!-- div  id="login_credentials" -->
{% endblock %}

{% block content %}

<div class="static_text">

<h2>Welcome to Country X Help</h2>

Specific instructions for use will be provided by your class instructor.
<br /><br />
<h3>Basic Elements</h3>

<ul>
<li>The column on the left contains profiles of the roles played by others in your group. The content of each profile can be expanded or contracted for optimal viewing.</li>

</li><br /><li>The center column contains both a detailed description of the current condition of Country X and, below this, a gauge indicating relative values of key variables. This gauge is designed to help you follow changes in the country condition over time.

</li><br /><li>The column on the right contains your decision options for each phase. When you click an option, a text box will open where you can enter the rationale for your decision; (specific requirements for the rationale will be provided by your instructor). Within the rationale space you are able to save drafts, however, once you hit the "submit" button, you cannot undo your decision. Your instructor has access to all of your decisions and rationales and will base your evaluation upon them.

</li><br /><li>The condition of Country X will be updated on a schedule set by your instructor, or when s/he chooses to manually alter it. In the event that a participant does not make a decision by the required time, the system will choose an option for that player so that the simulation may proceed. The system will also record that an automated choice was made.

</li><br /><li>If you encounter any errors when saving or logging in, please use the "Contact" link on the top right of the screen to send a note. Someone from the Country X team will be able to help you.

</ul>
<br />
Any further questions should go to your TA.</div>

{% endblock %}



